%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      .container
        .three
          .row
            .col-sm-10  
              %center MY BLOG
              
